# Configurations
service/dbConfig.json
vite.config.js

# Sample values
create_sample_values.js
sample_values.json

# Modules
/node_modules/
/service/node_modules/

# Testing
/test-results/
/playwright-report/
/playwright/.cache/

# Misc
/all_notes/
.env